@{
    ViewData["Title"] = "Presupuestos";
}
@using Models;
@model List<Models.Presupuesto>;

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de presupuestos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body>
    <main>
        <style>
            .icono {
                width: 24px;
                height: 24px;

            }
        </style>
        <section class="boton-agregar">
            <h2 class="text-center">Lista de Presupuestos</h2>
            <button type="button" class="btn btn-outline-success"
                onclick="location.href='@Url.Action("Agregar", "Presupuestos")'">Agregar presupuesto</button>
        </section>

        <section class="tabla">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Editar</th>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre destinatario</th>
                        <th scope="col">Fecha Creacion</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Presupuesto presupuesto in Model)
                    {
                        <tr>
                            <td>
                                <button type="button" class="btn btn-info"
                                    onclick="location.href='@Url.Action("Modificar", "Presupuestos", new {id = presupuesto.IdPresupuesto})'"><img
                                        src="http://localhost:5020/img/edit-icon-16.png" class="img-fluid icono"
                                        alt="Editar"></button>

                            </td>
                            <td>@presupuesto.IdPresupuesto</td>
                            <td>@presupuesto.NombreDestinatario</td>
                            <td>@presupuesto.FechaCreacion</td>
                            <td>

                                <button type="button" class="btn btn-secondary"
                                    onclick="location.href='@Url.Action("Detalle", "Presupuestos", new {id = presupuesto.IdPresupuesto})'">Ver
                                </button>
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger"
                                    onclick="if(confirm('¿Estás seguro de que deseas eliminar este producto?')) location.href='@Url.Action("Eliminar", "Presupuestos", new {id = presupuesto.IdPresupuesto})'">
                                    <img src="http://localhost:5020/img/R.png" class="img-fluid icono" alt="Eliminar">
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>

